---
---

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote {
  &:before, &:after {
    content: '';
    content: none; } }

q {
  &:before, &:after {
    content: '';
    content: none; } }

table {
  border-collapse: collapse;
  border-spacing: 0; }


/* Reset Ends */

$text_color: #355C7D;
$accent_color: #EE5789;
$light-grey: #C06C84;
$background_color: #FCE8D0;

html {
  font-family: source-serif-pro, serif;
  font-weight: 400;
  font-size: 13pt;
  color: $text_color;
  background: $background_color;
}

a {
  &:link, &:hover, &:active {
    color: $accent_color;
    text-decoration: none;
    text-shadow: 1px 1px 0 $background_color, -1px 1px 0 $background_color, 2px 0 0 $background_color, -2px 0 0 $background_color;
    box-shadow: inset 0 -3px 0 0 $background_color, inset 0 -4px 0 0 $accent_color;
  }

  &:visited {
    color: $light-grey;
  }
}

p {
  line-height: 1.3em;
  text-indent: 2em;
}

i, em{
  font-style: italic;
}

h1 {
  font-weight: bold;
  font-size: 1.6em;
}

h2 {
  font-weight: bold;
  font-size: 1.3em;
  margin-bottom: 0.3em;
}

h3 {
  display: block;
  margin: 1.2em 0 0.5em;
  font-weight: bold;
}

#hero {
  margin-bottom: 1em;

  .big {
    font-family: gill-sans-nova, sans-serif;
    font-size: 2em;
    margin-bottom: 0.3em;
    display: block;
  }

  p {
    font-size: 1.2em;
    text-indent: 0em;
    color: $light-grey;
  }

  a {
    &:link, &:hover, &:active {
      color: $accent_color;
      text-decoration: none;
      text-shadow: 1px 1px 0 $background_color, -1px 1px 0 $background_color, 2px 0 0 $background_color, -2px 0 0 $background_color;
      box-shadow: inset 0 -4px 0 0 $background_color, inset 0 -6px 0 0 $accent_color;
    }

    &:visited {
      color: $light-grey;
    }
  }
}

body {
  padding: 5%;
}

h1#recent {
  text-align: center;
  font-family: gill-sans-nova, sans-serif;
  font-size: 1.5em;
  display: block;
  margin-bottom: .75em;
}

.post-container{
  a:hover, a:active {
    h2 {
      color: $text_color;
    }
  }
  margin-bottom: 2em;
}

article{
  .footnotes{
    color: $light-grey;
    margin-top: 1em;
  }

  li{
    margin-top: 1em;
  }

  sup {

    a:link, a:hover, a:active, a:visited {
      color: $background_color;
      background-color: $accent_color;
      text-decoration: none;
      text-shadow: initial;
      box-shadow: initial;
      font-size: 0.7em;
      text-align: center;
      display: inline-block;
      border-radius: 50%;
      margin: 0 0.2em;
      line-height: 1.6em;
      text-indent: 0;
      width: 1.428571429em;
      height: 1.428571429em;
    }

    a:hover{
      background-color: $light-grey;
    }
  }
}

footer {
  p{
    font-weight: bold;
    text-indent: 0em;
  }
}




@media (min-width: 750px){

p {
  text-indent: 3em;
}

.big {
  display: block;
  margin-bottom: 0.2em;
  font-size: 3.5em;
  letter-spacing: -0.05em;
}

#hero {
  width: 75%;
  margin: 13% auto 5%;

  p {
    margin-left: 0.1em;
    font-size: 1.5em;
  }
}

h1#recent{
  display: block;
  margin-bottom: 1em;
}

#posts {
  width: 65%;
  margin: 0 auto;
}

.post-container{
  margin-bottom: 3em;

}

header.post-meta {
  width: 38%;
  float: left;
  text-align: right;
}

article {
  display: block;
  width: 60%;
  margin-left: 40%;
  
  .footnotes{
    font-size: 0.8em;
  }
  
  
}

footer {
  width: 65%;
  margin: 0 auto;
  
  p{
    text-indent: 0em;
  }
}

}

