---
layout: default
---

<article id="post">
    <header><h1>Contact Me</h1></header>
    <content>
        <p>I don't use Twitter, Dribbble, or Behance, and my Instagram is private. If you're interested in what I do or want to work with me, <script type="text/javascript">
        <!--
        h='&#x67;&#x6d;&#x61;&#x69;&#108;&#46;&#x63;&#x6f;&#x6d;';a='&#64;';n='&#x61;&#110;&#100;&#114;&#x65;&#x77;&#46;&#108;&#x69;&#108;&#106;&#x61;';e=n+a+h;
        document.write('<a h'+'ref'+'="ma'+'ilto'+':'+e+'">send me an email<\/'+'a'+'>');
        // -->
        </script><noscript>andrew dot lilja at google mail</noscript>. </p>
        
        <p>My resume is available in PDF form <a href="/assets/alilja-resume.pdf">here</a> and is summarized below.</p>
        <p>
            <h2>Work</h2>
            <b>Gustavus Adolphus College</b><br><i>Visiting Professor, 2021</i><br><br>
            <b>Gomoll Research and Design</b><br><i>User Experience Consultant, 2015—Now</i><br><br>
            <b>Iowa State University</b><br><i>Research Assistant, 2013–2015</i>
        </p>
        <p><h2>Education</h2> 
            <b>M.S.</b>, human-computer interaction<br><i>Iowa State University, 2013–2016</i><br><br>
            <b>B.A.</b>, psychology with neuroscience minor<br><i>Gustavus Adolphus College, 2009–2013</i>
        </p>  
    </content>  
        
        
</article>