---
layout: default
---
{%- if site.posts.size > 0 -%}

<section id="posts">
    <h2>Older Work</h2>
    <ul id="recent_work">
        {%- for post in site.categories.old -%}
        <li><a href="#{{ post.slug | escape }}">{{ post.title | escape }}</a></li>
        {%- endfor -%}
		<h1><a href="/">&#171; Back Home</a></h1>
    </ul>
    {%- for post in site.categories.old -%}
    <div class="post_container">
        <header class="post_meta">
            <h2>{{ post.date | date: '%Y' }}</h2>
            <a class="post_name" name="{{ post.slug | escape }}">
                <h1>{{ post.title | escape }}</h1>
            </a>
        </header>
        <article>
            {{ post.content }}
        </article>
        <div class="divider"></div>
    </div>

    {%- endfor -%}
</section>

{%- endif -%}

<h1 id="older_work"><a href="/">&#171; Back Home</a></h1>